.primary-nav{
    padding-top:10px

    @mixin atMedium{
        padding-top:0
    }
    &--pull-right{
        @mixin atMedium{
            float: right;
        }
        
    }

    ul{
        margin: 0;
        padding:12px;
        @mixin clearfix;
        
    }
    li{
        list-style: none;
        display: inline-block;
        padding-right: 7px;
        padding-bottom: 20px;

        @mixin atMedium{
            float: left;
            display:block;
            padding-right: 20px;
        }
    }

    li:last-child{
        padding-right: 0;
        @mixin atMedium{
            padding-right: 20px;
        }
    }
    a{
        color:white;
        text-decoration: none;
        font-weight: 300;
        padding: 5px 8px;
        font-size: .8rem;
        background-color: rgba(223, 238, 243, 0.3);

        @mixin atMedium{
        padding: 12px 0px;
        font-size: 1rem;
        background-color: transparent;
        
        &.is-current-link{
            color: #fabb69;
        }
        }
       
    }
}